.app-table-spinner {
	display: inline-block;
	position: relative;
	width: 24px;
	height: 24px;
}

.app-table-spinner div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	border: 3px solid theme('colors.gray.700');
	border-radius: 50%;
	border-color: theme('colors.gray.700') transparent transparent transparent;
	width: 24px;
	height: 24px;
	animation: app-table-anim-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.app-table-spinner div:nth-child(1) {
	animation-delay: -0.45s;
}
.app-table-spinner div:nth-child(2) {
	animation-delay: -0.3s;
}
.app-table-spinner div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes app-table-anim-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
